@{
    ViewBag.Title = "Home Page";
}
<div class="text-center" ng-controller="HomeCtrl">

    <p>{{value}}</p>
    <form>
        <select class="selectpicker" ng-model="users_input_method">
            <option>HEAD</option>
            <option>GET</option>
        </select>


        <input type="text" placeholder="URL HERE" name="URL" ng-model="users_input_url"/>
        <button class="btn-danger" ng-click="GetAjaxResponseData(users_input_url, users_input_method)">FETCH</button>
        <button class="btn-warning" ng-click="GenerateAndPost()">STORE</button>

        <div>
            <h4>URL: </h4><h5>{{URL}}</h5>
            <h4>Method:</h4><h5>{{Method}}</h5>
            <h4>Status Code:</h4><h5>{{Status_Code}}</h5>
            <h4>Response Time:</h4><h5>{{Response_Time}}</h5>
            <h4>Current Time:</h4><h5>{{TimeOfDay}}</h5>
        </div>
    </form>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@